<div class="container">
<div class="text-center">
<div class="block">
<h2><%= t("password.edit.password_change") %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
      placeholder: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field mt-4">
    <%= f.password_field :password, autocomplete: "new-password",
      placeholder: t("password.edit.new_password") %>
    <% if @minimum_password_length %>
    <br>
      <small><%= t("password.edit.min_characters")%></small>
    <% end %>
  </div>

  <div class="field mt-3">

    <%= f.password_field :password_confirmation, autocomplete: "new-password",
      placeholder: t("password.edit.confirmation") %>
  </div>

  <div class="field mt-4">
    <%= f.password_field :current_password, autocomplete: "current-password",
      placeholder: t("password.edit.current_password") %>
  </div>

  <div class="actions mt-2">
    <%= f.submit t("password.edit.update"), class: "btn btn-primary" %>
  </div>
<% end %>

<h3 class="mt-3"><%= t("deletion.account") %></h3>

<div class="mt-3 mb-3">
  <%= button_to t("deletion.delete"), registration_path(resource_name), data: { confirm: t("are_you_sure") },
    method: :delete, class: "btn btn-danger" %>
</div>

<%= link_to t("back"), :back %>

</div>
</div>
</div>
