<div class="container">
<div class="text-center">
<div class="block">
<h2><%= t("password.edit.password_change") %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field mt-3">
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password",
      placeholder: t("password.edit.new_password") %>
    <br><small><%= t("password.edit.min_characters") %></small>
  </div>

  <div class="field mt-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
      placeholder: t("password.edit.confirmation") %>
  </div>

  <div class="actions mt-2">
    <%= f.submit t("password.new.send"), class: 'btn btn-primary' %>
  </div>
<% end %>

</div>
</div>
</div>
