<div class='container'>
<h1><%= t("activerecord.attributes.event.access_by_pincode")%></h1>

<%= form_tag('', method: 'post') do |f| %>
  <div class="form-group">
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control',
      placeholder: t("activerecord.attributes.event.pincode") %>
  </div>

  <div class="actions mb-2">
    <%= submit_tag t("activerecord.attributes.event.send"), class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to t("activerecord.attributes.event.to_main"), events_path %>
</div>
